.header {
    position: relative;
    height: 100vh;
}
.header_background {
    background: url('../../images/bgHome.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
.header .header_content {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header_content_text h2 {
    text-transform: capitalize;
    font-size: 5rem;
    text-align: center;
}
.header_content_text p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}


#popularPlaces {
    background-color: white;
}
#popularPlaces .popularPlaces_container {
    text-align: center;
    padding-top: 50px;
}
#popularPlaces .popularPlaces_title {
    max-width: 600px;
    margin: 0 auto;
}
#popularPlaces .popularPlaces_container h2{
    font-size: 27px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 5px 0;
}
#popularPlaces .popularPlaces_container h2:after, #popularPlaces .popularPlaces_container h2::before {
    flex-grow: 1;
    height: 1px;
    content: "\a0";
    background-color: #ddd;
    position: relative;
    top: 0.5em;
    margin: 5px 15px;
}
#popularPlaces .popularPlaces_title p {
    color: rgba(0, 0, 0, 0.616);
    margin-bottom: 35px;
}
#popularPlaces .popular_gallerys {
    display: grid;
    grid-template-columns: 470px 325px 325px;
    grid-template-rows: 230px 230px;
    row-gap: 20px;
    column-gap: 20px;
}

#propertySales {
    background-color: white;
}
#propertySales .propertySales_container {
    padding-top: 100px;
    padding-bottom: 100px;
}
#propertySales .propertySales_title {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
#propertySales .propertySales_title h2 {
    font-size: 27px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0 5px 0;
}
#propertySales .propertySales_title p {
    color: rgba(0, 0, 0, 0.616);
}
#propertySales .propertySales_container h2:after, #propertySales .propertySales_container h2:before {
    flex-grow: 1;
    height: 1px;
    content: "\a0";
    background-color: #ddd;
    position: relative;
    top: 0.5em;
    margin: 5px 15px;
}

#propertySales .propertySales_gallery {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 400px 400px;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 35px;
}