#postSlide {
    background-color: white;
    height: 80vh;
}
.section {
    padding: 0 150px;
}
.postSlide_container {
    display: flex;
    align-items: center;
    height: 80vh;
    position: relative;
}
.postSlide_container .postSlide_content, .postSlide_container .img {
    flex: 1;
    overflow: hidden;
}
.postSlide_container .img {
    width: 100%;
    max-width: 540px;
}
.postSlide_content h2 {
    font-size: 30px;
    font-weight: 400;
}
.postSlide_content p {
    color: rgba(0, 0, 0, 0.363);
    font-size: 18px;
    margin: 30px 20px 30px 0;
}
.postSlide_content button {
    border-radius: 45px;
    border: 1px solid rgb(73, 20, 172);
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    padding: 15px 20px;
}
.postSlide_content button a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: rgb(73, 20, 172);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}
.postSlide_content button a:after {
    content: "";
    position: absolute;
    left: 50%;
    width:0%;
    height: 100%;
    background-color: white;
    transform-origin: center;
    transition: 0.5s ease-in-out;
    transform: translateX(-50%);
}
.postSlide_content button:hover a:after {
    width: 150%;
    opacity: 0.5;
}
.postSlide_content button:hover {
    background-color: rgb(73, 20, 172);
    border-color: transparent;
}
.postSlide_content button:hover a {
    color: white;
}
#postSlide .postSlide_groups {
    display: flex;
    position: absolute;
    top:75%;
    width: 75%;
    justify-content: space-between;
    padding: 30px 30px 30px 0;
    background-color: white;
}
#postSlide .postSlide_groups a {
    width: 270px;
    height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
}
#postSlide .postSlide_groups img {
    height: 100%;
    max-width: 95px;
}
#postSlide .postSlide_groups h3 {
    margin-left: 20px;
    font-weight: 400;
    font-size: 16px;
    color: black;
}